.button {
    display: inline;
    color: #fff;
    background-color: #6f001eff;
    padding: 10px 30px;
    border-radius: 8px;
    margin: 15px;
    border: none;
    font-family: 'Quicksand', sans-serif;
}
.button:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}