.button {
    color: #fff;
    background-color: #6f001eff;
    padding: 10px 30px;
    border-radius: 15px;
    margin: 15px;
    border: none;
}
.button:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}