.flex{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5% 0;
}
.iamflex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
img{
    width: 180px;
    height: 239px;
    align-self: center;
    margin-bottom: 10px;
}