.menu {
    background-color: #6f001eff;
    box-shadow: 0 3px 8px #000;
    width: 100%;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 20px;
}

.menu-hamb {
    cursor: pointer;
    display: none;
}

.links {
    display: flex;
}

.links.open {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    color: #f91f5bff;
}

.logo {
    width: 200px;
}


@media (max-width: 768px) {
    .menu {
        font-size: 14px;
    }

    .menu-hamb {
        display: block;
        color: #f91f5bff;
        font-size: 20px;
        margin: 20px;
    }

    .links {
        display: none;
    }

    .links.open {
        display: flex;
    }

    .logo {
        width: 155px;
    }
}

/* .button {
    color: #fff;
    background-color: #6f001eff;
    padding: 10px 30px;
    border-radius: 15px;
    margin: 15px;
    border: none;
}

.button:hover {
    background-color: #f91f5bff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
} */