.menu {
    background-color: #6f001eff;
    box-shadow: 0 3px 8px #000;
    width: 100%;
    height: 120px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 20px;
}

.menu-hamb {
    cursor: pointer;
    display: none;
}

.links {
    display: flex;
    border-radius: 4px;
    margin-top: 10px;
    
}

.links.open {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
}

.logo {
    width: 200px;
    height: 100px;
}


@media (max-width: 768px) {
    .menu {
        font-size: 14px;
    }

    .menu-hamb {
        display: block;
        color: #f91f5bff;
        font-size: 20px;
        margin: 20px;
    }

    .links {
        display: none;
        margin-top: 20px;
        background-color: rgba(10,00,00,0.5);
    }

    .links.open {
        display: flex;
    }

    .logo {
        width: 155px;
        height: 80px;
    }
}